@import "./bootstrap.min.scss";

ul {
  list-style: none;
  padding: 0;
}

body {
  position: relative;
  letter-spacing: 1px;
}

// Preloader
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  background: #444;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    margin-top: -150px;
    margin-left: -50px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

// Message Box Style
#message-area {
  .card {
    height: 350px;
    .card-body {
      position: relative;
      .badge {
        font-size: 100%;
      }
      .messae-list {
        position: relative;
        width: 100%;
        height: 100%;
        ul {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 77px);
          overflow: hidden;
          overflow-y: scroll;
          //   -ms-overflow-style: none;

          &::-webkit-scrollbar {
            // display: none;
            width: 0.3em;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 3px #fff;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
          }
        }
      }
    }

    form {
      position: absolute;
      width: calc(100% - (1.25rem * 2));
      left: 1.25rem;
      bottom: 1.25rem;
    }
  }
}
